

    body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 400px;
        margin: 20px auto;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    
    #todoinput,
    #tododate {
        display:flex;
        font-size: 15px;
        padding: 10px 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    
    .btntodo {
        color: white;
        border: none;
        border-radius: 8px;
        padding: 12px;
        cursor: pointer;
        background-color: green;
        font-size: 15px;
    }
    
    .btntodo:hover {
        background-color: darkgreen;
    }
    
  
    .todo-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    
    .todo-container div {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #f9f9f9;
    }
    
    .btndelete {
        background-color: brown;
        color: white;
        position: relative;
        left:8vw;
        bottom:1vw;
        border: none;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        align-self: flex-start; 
    }
    
    .btndelete:hover {
        background-color: darkred;
    }
    
    

 